doctype html
html
    head
        title Oooops!
        link(rel="stylesheet", href="/css/style.css", type="text/css")
    body
        h1=status
        p=message
        if(error)
            pre=error.stack
